@import '../../index.css';


.commentTextareaDiv {
    width: 100%;
}

.form {
    position: relative;
}

.errorDiv {
    height: 22px;
}

.error {
    color: #FA6666;
    font-weight: 400;
}

.commentTextarea {
    width: 100%;
    height: 60px;
    padding-right: 40px;
}

.submitButton {
    position: absolute;
    bottom: 16px;
    right: 20px;
    font-size: 25px;
}
