@import '../../index.css';


.tutorialPageDiv {
    margin: 50px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tutorialDiv {
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.videoDiv {
    width: 100%;
    height: 675px;
    margin: 0 auto;
}

.video {
    width: 100%;
    height: 100%;
}
