@import '../../index.css';


.tutorialsPage {
    display: flex;
    margin: 70px auto;
    max-width: 1620px;
    justify-content: space-between;
}

.tutorialsDiv {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    width: 100%;
}

.tutorialsTopDiv {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.videoSearch {
    border-radius: 8px;
    border: 1px solid var(--greyTheme);
    height: 25px;
    padding: 0 5px;
    margin-left: 7px;
}


@media screen and (max-width: 1700px) and (min-width: 1534px) {
    .tutorialsPage {
        width: 1365px;
    }
}

@media screen and (max-width: 1534px) and (min-width: 1387px) {
    .tutorialsPage {
        width: 1233px;
    }
}

@media screen and (max-width: 1387px) and (min-width: 1000px) {
    .tutorialsPage {
        width: 922px;
    }
}

@media screen and (max-width: 1000px) {
    .tutorialsPage {
        width: 554px;
    }
}
