@import '../../index.css';


.tutorialsPage {
    display: flex;
    margin: 70px 100px;
}

.tutorialsDiv {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 60px;
}

.tutorialsTopDiv {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.videoSearch {
    border-radius: 8px;
    border: 1px solid var(--greyTheme);
    height: 25px;
    padding: 0 5px;
}

.tutorialsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.videoCard {
    margin-bottom: 30px;
    background-color: white;
    width: 235px;
    height: 190px;
}

.cardTop {
    height: 132.19px;
    width: 100%;
    overflow-y: hidden;
}

.thumbnailImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardBottom {
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.videoTitle {
    font-weight: 400;
}

.likeButton {
    padding: 10px;
}

.prevNextButtonDiv {
    text-align: right;
}

.prevNextButtonDiv > * {
    margin-left: 20px;
}
