@import '../../index.css';


.tutorialsPage {
    display: flex;
    margin: 70px auto;
    max-width: 1620px;
}

.tutorialsDiv {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 60px;
}

.tutorialsTopDiv {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.videoSearch {
    border-radius: 8px;
    border: 1px solid var(--greyTheme);
    height: 25px;
    padding: 0 5px;
    margin-left: 7px;
}


@media screen and (max-width: 1700px) {
    .tutorialsPage {
        width: 90%;
    }
}

@media screen and (max-width: 1530px) {
    .tutorialsPage {
        width: 90%;
    }
}
