@import url('https://fonts.googleapis.com/css?family=Lato:light,regular,bold,black');
@import './vars.css';

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Lato';
    font-weight: 300;
    overflow-y: scroll;
}

#root {
    position: relative;
    min-height: 100vh;
}

main {
    padding-bottom: 6.5rem;
}

a {
    text-decoration: none;
    color: inherit
}

textarea {
    resize: none;
}

ul {
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

.link-button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

.activeNavLink {
    border-bottom: 1px solid var(--greyTheme);
}

.cta-button{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: none;
    background-color: var(--yellowTheme);
    color: white;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}

.cta-button:hover{
    cursor: pointer;
    transition: all 0.3s ease 0s;
    background-color: var(--yellowHover);
}

.button-danger {
    color: #d40f0f;
    border: 2px solid #d40f0f;
    background-color: transparent;
}

.button-danger:hover {
    transition: all 0.3s ease 0s;
    color: white;
    background-color: #d40f0f;
}

.button-green {
    background-color: #27ae60;
}

.button-green:hover {
    transition: all 0.3s ease 0s;
    background-color: #2cc66d;
}
