@import '../../index.css';


.commentsSectionDiv {
    width: 100%;
    margin: 25px 0;
    display: flex;
    flex-direction: column;
}

.userCommentDiv {
    margin-top: 50px;
}

.username {
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 7px;
}

.userComment {
    margin: 0;
}

.commentButtonsDiv {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.saveCancelButtonsDiv {
    display: flex;
    align-items: center;
}

.saveCancelButtonsDiv > * {
    margin-right: 20px;
}

.saveButton {
    align-self: flex-end;
}

.editCommentTextarea {
    width: 100%;
}

.editDeleteButtonsDiv {
    display: flex;
    align-items: flex-start;
}

.editDeleteButtonsDiv > * {
    font-size: 20px;
    margin-left: 20px;
}

.editCommentButton {
    font-size: 23px;
}
