@import '../../index.css';


.filterContainer {
    width: 260px;
    display: flex;
    flex-direction: column;
}

.allFiltersDiv {
    border-right: 1px solid var(--greyTheme);
    margin-top: 52px;
}

.filterUl {
    display: flex;
    flex-direction: column;
    /* width: 180px; */
    padding-right: 30px;
}

.levelsUl {
    margin-top: 80px;
}

.filterTitles {
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 6px;
}

.checkboxAndLabel {
    display: flex;
    justify-content: space-between;
    margin: 4px 0;
}

@media screen and (max-width: 1000px) {
    .filterContainer {
        width: 100%;
    }

    .allFiltersDiv {
        border-right: none;
        border-bottom: 1px solid var(--greyTheme);
        margin-top: 0;
        display: flex;
        justify-content: space-between;
        padding-bottom: 30px;
    }

    .allFiltersDiv > * {
        padding: 0;
        margin: 0;
    }

    .filterUl {
        width: 180px;
    }
}
