@import '../../index.css';


.navbar {
    position: sticky;
    top: 0;
    background-color: white;
    height: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbarLinks {
    justify-content: center;
}

.backToTopButton {
    border-radius: 50px;
    border: 1px solid var(--greyTheme);
    height: 35px;
    width: 35px;
    position: fixed;
    bottom: 150px;
    right: 100px;
}
